<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}DBLP search tool{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{STATIC_URL}}css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{STATIC_URL}}font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    {% block css %}
    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img src="http://dblp.uni-trier.de/img/logo.png" height="50px"/>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#result">Result</a>
                    </li>
                    {% block login %}
                    {% endblock %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">

            {% block sign_form %}
            
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="intro-text">DBLP search tool </p>
                        <div class="form-horizontal">
                            <div class="input-group">
                            <div class="input-group-btn search-panel">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span id="search_concept">select</span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                  <li><a href="#coauthor">Search CoAuthor</a></li>
                                  <li><a href="#coauthor2">Search CoAuthor of CoAuthor</a></li>
                                  <li><a href="#papers">Search Papers Top 100</a></li>
                                  <li><a href="#papers-rel">Search Papers Interested In</a></li>
                                  <li><a href="#volume-contrib">Get Contributors to Volumes of a Journal</a></li>
                                  <li><a href="#smallworld">Search CoAuthor Path</a></li>
                                  <li><a href="#search-expert">Search Experts in Fields</a></li>
                                  <li><a href="#search-collaborators">Search Possible Collaborators in Fields</a></li>
                                  <li><a href="#top-cited-papers">Find Top Cited Papers</a></li>
                                  <li><a href="#pub-journals-overtime">Publications in journals over time</a></li>
                                  <li><a href="#pub-authors-overtime">Publications of Author over time</a></li>
                                </ul>
                            </div>
                            <input type="hidden" name="search_param" value="1" id="search_param">
                            <input id="search-content" type="text" class="form-control" name="input" placeholder="Search term...">

                            <span class="input-group-btn">
                                <button id="search-btn" class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                            </div>
                        </div>
                        <div class="lines"></div>
                        <div class="recent-search">
                            <li> Recent Search:</li>
                        </div>

                    </div>
                </div>
            </div>
            
            {% endblock %}
        
        </div>
    </header>

    <!-- About Section -->
    <section id="result" class="container content-section text-center">
        <div class="row">
            {% block result %}
            <div class="col-lg-8 col-lg-offset-2">
                
            </div>
            {% endblock %}
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; DIWD Team4 - Fall2015</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{STATIC_URL}}js/jquery.js"></script>
    <script src="{{STATIC_URL}}js/js.cookie.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="{{STATIC_URL}}js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{STATIC_URL}}js/grayscale.js"></script>


    <!-- Update search bar -->
    <script type="text/javascript">
    $(document).ready(function () {
        $(".form-control").val("{{query}}");
    });
    </script>
    {% block js %}
    {% endblock %}
</body>

</html>
